* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: #e2d7f7;
}

.hero h1 {
  font-size: 48px;

  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;

  max-width: 600px;
  margin-bottom: 30px;
}

.btnn {
  padding: 12px 30px;
  background: #764ba2;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.btnn:hover {
  color: #764ba2;
  background: #f1f1f1;
  font-weight: 600;
  border: 2px solid #764ba2;
  transform: scale(1.05);
}
.msg {
  color: red;
  font-size: 18px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e2d7f7;
}

.form form {
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 6px 20px rgb(144, 144, 144);
  border-radius: 10px;
  padding: 2rem;
  width: 28rem;
}

.form form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.form form button {
  background-color: #783595;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.form form p {
  font-size: 15px;
  text-align: center;
}

.admin-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2d7f7;
}

.admin-card {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.admin-card h1 {
  color: #333;
  margin-bottom: 15px;
}

.admin-card h3 {
  color: #555;
  margin-bottom: 15px;
}

.admin-card span {
  color: #667eea;
  font-weight: bold;
}

.admin-card p {
  color: #666;
  font-size: 15px;
  line-height: 1.6;
}
